body {
  text-align: center;
  color: #635e5f;
  font-family: "Monaco", Courier, monospace;
}

header {
  font-size: 24px;
}

#options {
  display: flex;
  flex-direction: column;
  left: 0;
}

#color {
  display: flex;
  gap: 20px;
}

.background-picker {
  margin-left: 27px;
}


.color-picker, .background-picker {
  height: 100px;
  width: 100px;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
}

footer {
  position: fixed;
  width: 100vw;
  padding: 4px;
  bottom: 0;

}